{% extends 'indexing_unit/dashboard_base1.html'%}

{% block title %}Institution | {{ block.super }}{% endblock title %}


{% block content %}

<div class="container-fluid py-4">
<div class="row ml-3 mb-3">
<div class="col-lg-1 col-xl-8">

<div class="card mb-3">
<div class="card-header profile-tabs pb-0">
<ul class="nav nav-tabs">
<li class="nav-item">
<a class="nav-link active" href="#about" data-toggle="tab" aria-expanded="false"><i class="ti-user mr-2"></i>Indexing Officer Profile Details</a>
</li>
</ul> 
</div>
<div class="card-body mb-0 pb-0">
<div class="">
<div class="tab-content">
<div class="tab-pane active" id="about">
<div class="row justify-content-center">

<div class="col-md-12  profile-detail">
{% include 'partials/_alerts.html' %}

<div class="">
<h5 class="mb-1"> <i class="fa fa-graduation-cap text-primary"></i> Personal Details</h5>
</div>
</div>

<div>  
                  
<ul class="list-unstyled">                        
<li>Name: <span class="text-dark font-weight-bold ms-sm-2">{{object.indexing_officer.first_name}} {{object.indexing_officer.last_name}}</span></li>
<li>Address: <span class="text-dark font-weight-bold ms-sm-2">{{object.institution.address}}</span></li>
<li>Phone No: <span class="text-dark font-weight-bold ms-sm-2">{{object.indexing_officer.phone_no}}</span></li>
<li>Email: <span class="text-dark font-weight-bold ms-sm-2">{{object.indexing_officer.email}}</span></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="card mb-3">
<div class="card-body mb-0 pb-0">
<div class="">
<div class="tab-content">
<div class="tab-pane active" id="about">
<div class="row justify-content-center">
<div class="col-md-12  profile-detail">
<div class="">
<h5 class="mb-1"> <i class="fab fa-accusoft text-primary"></i> Instiution Details</h5>
</div>
</div>
<div>  
<p class="text-sm mb-0">
<ul class="list-unstyled">                           
<li>Name of Institution:<span class="text-dark font-weight-bold ms-sm-2">{{object.institution.name}}</span></li>
<li>Address: <span class="text-dark font-weight-bold ms-sm-2">{{object.institution.address}}</span></li>
<li>Phone No: <span class="text-dark font-weight-bold ms-sm-2">{{object.institution.phone_no}}</span></li>
<li>Email: <span class="text-dark font-weight-bold ms-sm-2">{{object.institution.email}}</span></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>



<div class="d-flex justify-content-end mr-2 mb-2"> 

<button 
class="btn btn-outline-danger py-0 mr-2 mt-1 mb-3"
onclick="confirmIndexingOfficerDelete(this)"
data-url="{% url 'indexing_unit:delete_indexing_officer' object.slug %}">
<i class="fas fa-trash"></i> Delete Indexing Officer
</button>

<a href="{% url 'indexing_unit:indexing_officer_update' object.indexing_officer.pk  %}" class="btn btn-outline-primary py-0 mr-2 mt-1 mb-3"><i class="fa fa-toggle-on" aria-hidden="true"></i> Update Indexing Officer </a>  


{% if object.indexing_officer.is_active == False %} 
<a href="javascript:{document.getElementById('activate{{object.slug }}').submit()}">
<input type="submit" class="btn btn-outline-primary py-0 mr-2 mt-1" value="Activate User" onclick="return confirm('Are you sure you want to activate this Indexing Officer?')">
</a>

{% else %}

<a href="javascript:{document.getElementById('deactivate{{object.slug }}').submit()}">
<input type="submit" class="btn btn-outline-primary py-0 mr-2 mt-1" value="Deactivate User"  onclick="return confirm('Are you sure you want to de-activate this Indexing Officer?')" >
</a>
{% endif %}

<a href="{% url 'indexing_unit:indexing_officers_list' %}" class="btn btn-outline-primary py-0 mr-1 mt-1 mb-3"> <i class="fas fa-arrow-circle-left"></i> Indexing Officers List </a>  
</div>


<form id="activate{{object.slug }}" method="POST" action="{% url 'indexing_unit:activate_user' object.slug %}">
{% csrf_token%}
<input type="hidden">
</form>

<form id="deactivate{{object.slug }}" method="POST" action="{% url 'indexing_unit:deactivate_user' object.slug %}">
{% csrf_token%}
<input type="hidden">
</form>

</div>
</div>

</div>
</div>

{% endblock content %}
