{% extends 'registration/dashboard_base.html'%}
{% load static %}
{% block title%}| Welcome {% endblock %}

{% block styles %}


{% endblock %}



{% block content %}



 <!-- Start content -->
<div class="content">

<div class="page-content-wrapper">

<div class="container-fluid">

<div class="row">
<div class="col-sm-12">
<div class="page-title-box">
<div class="float-right">
<div class="dropdown">
<button class="btn btn-secondary btn-round dropdown-toggle px-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<i class="mdi mdi-settings mr-1"></i>Settings
</button>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
<a class="dropdown-item" href="#">Action</a>
<a class="dropdown-item" href="#">Another action</a>
<a class="dropdown-item" href="#">Something else here</a>
</div>
</div>
</div>
<h4 class="page-title">Dashboard</h4>
</div>
</div>
</div>
<!-- end page title end breadcrumb -->

<div class="row">
<div class="col-md-12 col-xl-3">
<div class="card mini-stat">
<div class="mini-stat-icon text-right">
<i class="mdi mdi-cube-outline"></i>
</div>
<div class="p-4">
<h6 class="text-uppercase mb-3">Students</h6>
<div class="float-right">
<p class="mb-0"><b>Week:</b> 30</p>
</div>
<h4 class="mb-0">3457<small class="ml-2"><i class="mdi mdi-arrow-up text-primary"></i></small></h4>
</div>
</div>
</div>

<div class="col-md-12 col-xl-3">
<div class="card mini-stat">
<div class="mini-stat-icon text-right">
<i class="mdi mdi-buffer"></i>
</div>
<div class="p-4">
<h6 class="text-uppercase mb-3">Institutions</h6>
<div class="float-right">
<p class="mb-0"><b>Week:</b> 1</p>
</div>
<h4 class="mb-0">89<small class="ml-2"><i class="mdi mdi-arrow-down text-danger"></i></small></h4>
</div>
</div>
</div>

<div class="col-md-12 col-xl-3">
<div class="card mini-stat">
<div class="mini-stat-icon text-right">
<i class="mdi mdi-tag-text-outline"></i>
</div>
<div class="p-4">
<h6 class="text-uppercase mb-3">Indexing</h6>
<div class="float-right">
<p class="mb-0"><b>Week:</b> 40</p>
</div>
<h4 class="mb-0">241<small class="ml-2"><i class="mdi mdi-arrow-up text-primary"></i></small></h4>
</div>
</div>
</div>
<div class="col-md-12 col-xl-3">
<div class="card mini-stat">
<div class="mini-stat-icon text-right">
<i class="mdi mdi-briefcase-check"></i>
</div>
<div class="p-4">
<h6 class="text-uppercase mb-3">Payments</h6>
<div class="float-right">
<p class="mb-0"><b>Week:</b> 5</p>
</div>
<h4 class="mb-0">65<small class="ml-2"><i class="mdi mdi-arrow-down text-danger"></i></small></h4>
</div>
</div>

</div>                                            
</div>
<div class="row">

<!-- <div class="col-lg-4"> -->
<div class="col-md-12 col-xl-3">
<div class="card m-b-30">
<h4 class="card-header mt-0 text-primary">View Institutions</h4>
<div class="card-body">
<!-- <h4 class="card-title font-20 mt-0">Post Accreditation Institution Creation</h4> -->
<p class="card-text"><strong class="text-primary"> Note: </strong>Insitutions with Board accreditation</p>
<a href="{% url 'registration:institutions_list' %}" class="btn btn-primary">View Institution</a>
</div>
</div>
</div>



<!-- <div class="col-lg-4"> -->
<div class="col-md-12 col-xl-3">
<div class="card m-b-30">
<h4 class="card-header mt-0 text-primary">View Indexing Officer</h4>
<div class="card-body">
<!-- <h4 class="card-title font-20 mt-0">Post Accreditation Institution Creation</h4> -->
<p class="card-text"><strong class="text-primary"> Note: </strong>View Institutions Indexing Officers </p>
<a href="{% url 'registration:indexing_officers_list' %}" class="btn btn-primary">View Indexing Officer</a>
</div>
</div>
</div>


<div class="col-md-12 col-xl-3">
<div class="card m-b-30">
<h5 class="card-header mt-0 text-primary">Yearly Admmission Quota</h5>
<div class="card-body">
<!-- <h4 class="card-title font-20 mt-0">Post Accreditation Institution Creation</h4> -->
<p class="card-text"><strong class="text-primary"> Note: </strong>Institutions Yearly Admission Quota</p>
<a href="{% url 'registration:admission_quota_list' %}" class="btn btn-primary">View Admission Quota</a>
</div>
</div>
</div>

<div class="col-md-12 col-xl-3">
<div class="card m-b-30">
<h4 class="card-header mt-0 text-primary">View Student Records</h4>
<div class="card-body">
<!-- <h4 class="card-title font-20 mt-0">Post Accreditation Institution Creation</h4> -->
<p class="card-text"><strong class="text-primary"> Note: </strong>Student Records by institution</p>
<a href="" class="btn btn-primary">View Records</a>
</div>
</div>
</div>




<div class="col-12">
<div class="card">
<div class="card-body table-data">
<h6 class="d-inline-block">Overview</h6>

<form method='GET' action="{% url 'indexing_unit:dashboard' %}">
<input type='text' placeholder="Search..." name='q' value='{{ request.GET.q }}'>
</form>

{% if request.GET.q %}
<p> You searched for <b>{{ request.GET.q }}</b></p>
{% endif %}







<div class="float-right ml-2">
<div class="dropdown">
<a class="btn btn-outline-light btn-sm" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<i class="mdi mdi-menu"></i>
</a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton2">
<a class="dropdown-item" href="#">Today</a>
<a class="dropdown-item" href="#">This Week</a>
<a class="dropdown-item" href="#">This Month</a>
</div>
</div>
</div>
<!-- <div class="table-responsive">
<table class="table">
<thead>
<tr>
    <th class="border-top-0 w-60">Customers</th>
    <th class="border-top-0">Name</th>
    <th class="border-top-0">Order Date/Time</th>
    <th class="border-top-0">Country</th>
    <th class="border-top-0">Order #</th>
    <th class="border-top-0">Status</th> 
</tr>
</thead>
<tbody>
<tr>
    <td>
        <img class="rounded-circle" src="{% static 'd_assets/images/users/avatar-1.jpg' %}" alt="user" width="40"> 
    </td>
    <td>
        <a href="javascript:void(0);" class="text-dark">James k. Striplin</a>
    </td>
    
    <td>18/05/2018 3:01 PM</td>
    <td>                                                                
        <img src="{% static 'd_assets/images/flags/us_flag.jpg' %}" alt="" class="w-30">
    </td>
    <td>9932AZ</td>
    <td><span class="badge badge-boxed  badge-primary">Shipped</span></td>  
</tr>
<tr>
    <td>
        <img class="rounded-circle w-50" src="{% static 'd_assets/images/users/avatar-2.jpg' %}" alt="user"> </td>
    <td>
        <a href="javascript:void(0);" class="text-dark">William A. Johnson</a>
    </td>
    <td>28/05/2018 9:20 AM</td>
    <td>                                                                
        <img src="{% static 'd_assets/images/flags/french_flag.jpg' %}" alt="" class="w-30">
    </td>
    <td>2643BZ</td>
    <td><span class="badge badge-boxed  badge-danger">Delivered</span></td> 
</tr>
<tr>
    <td>
        <img class="rounded-circle w-50" src="{% static 'd_assets/images/users/avatar-3.jpg' %}" alt="user"> </td>
    <td>
        <a href="javascript:void(0);" class="text-dark">Bobby M. Gray</a>
    </td>
    <td>3/05/2018 8:45 PM</td>
    <td>                                                                
        <img src="{% static 'd_assets/images/flags/spain_flag.jpg' %}" alt="" class="w-30">
    </td>
    <td>2458DA</td>
    <td><span class="badge badge-boxed badge-warning">Pending</span></td> 
</tr>
<tr>
    <td>
        <img class="rounded-circle w-50" src="{% static 'd_assets/images/users/avatar-4.jpg' %}" alt="user"> </td>
    <td>
        <a href="javascript:void(0);" class="text-dark">Sona J. Medrano</a>
    </td>
    <td>25/05/2018 6:35 PM</td>
    <td>                                                                
        <img src="{% static 'd_assets/images/flags/russia_flag.jpg' %}" alt="" class="w-30">
    </td>
    <td>7845AA</td>
    <td><span class="badge badge-boxed  badge-primary">Shipped</span> </td> 
</tr>
<tr>
    <td>
        <img class="rounded-circle w-50" src="{% static 'd_assets/images/users/avatar-5.jpg' %}" alt="user" > 
    </td>
    <td>
        <a href="javascript:void(0);" class="text-dark">Ruby T. Curd</a>
    </td>
    <td>12/05/2018 10:42 AM</td>
    <td>                                                                
        <img src="{% static 'd_assets/images/flags/italy_flag.jpg' %}" alt="" class="w-30">
    </td>
    <td>4451CA</td>
    <td><span class="badge badge-boxed badge-warning">Pending</span></td> 
</tr>                                                      
</tbody>
</table>
</div>
 -->




</div>
</div>                                    
</div> 
</div><!-- end row -->

</div><!-- container -->

</div> <!-- Page content Wrapper -->
</div> <!-- content -->

{% endblock %}