{% extends 'registration/dashboard_base.html'%}

{% block title %}Registration | {{ block.super }}{% endblock title %}


{% block content %}

<div class="row mx-2">
<div class="col-md-12 mt-4 mx-1">
<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <h4 class="mt-0 header-title">Indexing Officers List</h4>
            <p class="text-muted  font-14">Registered Indexing Officer Assigned to Institutions.
            </p>

            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead>
                <tr>
                    <th>Indexing Officer Name</th>
                    <th>Institution</th>
                    <th>Phone No</th>
                    <th>Email</th>
                   
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{object.get_full_name}}</td>
                    <td>{{object.get_indexing_officer_profile.institution}}</td>
                    <td>{{object.phone_no}}</td>
                    <td>{{object.email}}</td>
                    <td><a href="{{object.get_indexing_officer_profile.get_reg_absolute_url}}"><span class="badge badge-boxed  badge-primary">View Indexing Officer Details </span> <i class="fas fa-list-ol text-primary"></i></a></td> 
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- end col -->
</div> <!-- end row -->
</div>
</div>
{% endblock content %}