{% load static %}


<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead>
                <tr>
                    <th>Institution</th>
                    <th>Address</th>
                    <th>Academic Session</th>
                    <th>Amount Paid</th>
                    <th>Payment Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% if query %}
                {% for object in query %}
              
                <tr>
                    <td>{{object.institution}}</td>
                    <td>{{object.institution.address}}</td>
                    <td>{{object.academic_session}}</td>
                    <td>{{object.payment_amount}}</td>
                    <td>{{object.payment_date}}</td>
                    <td><a href="{% url 'registration:institutions_indexing_pre_issue_details' object.slug %}"><span class="badge badge-boxed  badge-primary">View Students <i class="fas fa-podcast"></i></span></a></td>                 
                </tr>
                {% endfor %}
                {% endif %}
               
                </tbody>
            </table>

<!-- jQuery  -->
<!-- <script src="{% static 'd_assets/js/jquery.min.js' %}"></script>
<script src="{% static 'd_assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'd_assets/js/modernizr.min.js' %}"></script>
<script src="{% static 'd_assets/js/detect.js' %}"></script>
<script src="{% static 'd_assets/js/fastclick.js' %}"></script>
<script src="{% static 'd_assets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'd_assets/js/jquery.blockUI.js' %}"></script>
<script src="{% static 'd_assets/js/waves.js' %}"></script>
<script src="{% static 'd_assets/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'd_assets/js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'd_assets/plugins/metro/MetroJs.min.js' %}"></script> -->

<!-- <script src="{% static 'd_assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
<script src="{% static 'd_assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'd_assets/plugins/sparkline-chart/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'd_assets/plugins/morris/morris.min.js' %}"></script>
<script src="{% static 'd_assets/plugins/raphael/raphael-min.js' %}"></script>
<script src="{% static 'd_assets/pages/dashboard.js' %}"></script> -->

<!-- Required datatable js -->
<script src="{% static 'd_assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'd_assets/plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'd_assets/plugins/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'd_assets/plugins/datatables/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'd_assets/plugins/datatables/jszip.min.js' %}"></script>
<script src="{% static 'd_assets/plugins/datatables/pdfmake.min.js' %}"></script>
<script src="{% static 'd_assets/plugins/datatables/vfs_fonts.js' %}"></script>
<script src="{% static 'd_assets/plugins/datatables/buttons.html5.min.js' %}"></script>
<script src="{% static 'd_assets/plugins/datatables/buttons.print.min.js' %}"></script>
<script src="{% static 'd_assets/plugins/datatables/buttons.colVis.min.js' %}"></script>
<!-- Responsive examples -->
<script src="{% static 'd_assets/plugins/datatables/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'd_assets/plugins/datatables/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable init js -->
<script src="{% static 'd_assets/pages/datatables.init.js' %}"></script>  
<!-- App js -->
<script src="assets/js/app.js"></script>
