
{% load static %}
{% load crispy_forms_tags %}



<div class="">
<form action="{% url 'institutions:pay_session_indexing_fee' %}" class="form-horizontal form-material" method="post" enctype="multipart/form-data">
{% csrf_token %}

<input type="hidden" name="academic_session" value="{{academic_session}}"/>

<!-- <div class="form-group row">
    
    <div class="col-md-6">
    <div class= "form-control-alternative my-0 py-0">
    {{ form.student_indexing|as_crispy_field }}
    </div>
    </div>
</div> -->

<div class="form-group">
    <label><strong>Select Students</strong></label>
    <div class="container">
        <div class="row">
            {% for checkbox in form.student_indexing %}
                <div class="col-md-3 mb-2">
                    <div class="form-check">
                        {{ checkbox.tag }}
                        <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                            {{ checkbox.choice_label }}
                        </label>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


<div class="form-group row">
    <div class="col-md-6">
    <div class= "form-control-alternative my-0 py-0">
    {{ form.rrr_number|as_crispy_field }}
    </div>
    </div>
    <div class="col-md-6">
    <div class= "form-control-alternative my-0 py-0">
    {{ form.payment_amount|as_crispy_field }}  
    </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-md-6">
    <div class= "form-control-alternative my-0 py-0">
    {{ form.payment_method|as_crispy_field }}
    </div>
    </div>

    <div class="col-md-6">
    <div class= "form-control-alternative my-0 py-0">
    {{ form.payment_receipt|as_crispy_field }}
    </div>
    </div>
</div>



<div class="form-group">

<input type="submit" class="btn btn-outline-primary btn-sm px-4 mt-2 float-right" value="Batch Submit Students for Inddexing" onclick="return confirm('Are you sure you want to submit this payment?')">



</div>
</form>
</div>







