{% extends 'students/dashboard_base1.html'%}

{% block title %}Institution | {{ block.super }}{% endblock title %}


{% block content %}

<div class="row mx-2">
<div class="col-md-12">
    <div class="card m-b-30">
        <div class="card-body">
            <h4 class="mt-0 header-title text-primary">My Indexing Application Submission</h4>
            <p class="text-muted font-14">Student can view his/her indexing application submission below
            </p>
            <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Institution</th>
                    <th>Course</th>
                    <th>Academic Session</th>
                    <th>Submission Date</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{object.student_profile.student.last_name}} {{object.student_profile.student.first_name}}</td>
                    <td>{{object.institution}}</td>
                    <td>{{object.institution.course_type}}</td>
                    <td>{{object.academic_session}}</td>
                    <td>{{object.timestamp}}</td>
                    <td><h6 class="mb-1 text-center"><a href="{{ object.get_student_application_details_url }}"><span class="badge badge-pill badge-primary"><i class="fas fa-search"></i>  View Indexing Submission Details </span></a></h6> </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div> 
</div> 


{% endblock content %}
