{% extends 'students/dashboard_base1.html'%}

{% block title %}Institution | {{ block.super }}{% endblock title %}


{% block content %}
<div class="row mx-2">
<div class="col-md-12">
    <div class="card m-b-30">
        <div class="card-body">

            <h4 class="mt-0 header-title text-primary">My Student Profile</h4>
            <p class="text-muted font-14">Students can view and edit their registered profile as needed from the list below.
            </p>

            <table id="" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Institution</th>
                    <th>Course</th>
                    <th>Sex</th>
                    <th>Date of Birth</th>
                    <th>Actions</th>
                </tr>
                </thead>


                <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{object.student.last_name}} {{object.student.first_name}}</td>
                    <td>{{object.institution}}</td>
                    <td>{{object.institution.course_type}}</td>
                    <td>{{object.sex}}</td>
                    <td>{{object.dob}}</td>
                    <td><a href="{{ object.get_student_profile_details_url }}"> <i class="fas fa-search text-primary"></i> <span class="badge badge-boxed  badge-primary">View Details </span></a></td><span class="text-primary"><i class="fas fa-search-plus"></i>.</span></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div> <!-- end col -->
</div> <!-- end row -->


{% endblock content %}
