{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.8.2-web/css/all.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom_styles.css' %}">

    <title>RRBN Indexing Portal </title>
  </head>

  <body>

  <main class="bg-image page-holder bg-cover overlay">
      <div class="row justify-content-center align-items-center ">
        <div class="col-xl-5 col-lg-8 col-md-8 col-sm-8 col-10">

        {% include 'partials/_alerts.html' %}
        
        
        <!--form starts-->
        <form class="form-container" action="{% url 'accounts:login' %}" method="POST">
         {% csrf_token %} 
          <img class="push-right" src="{% static 'img/rrbn-logo2.png' %}">

          <div>
            <div class="form-group mt-4">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
          </div>

          <div class="d-flex">
            
            <button class="btn btn-danger text-white" name="Submit" value="Login" type="submit"><i class="fas fa-user"></i> Login</button>





            <a style="text-decoration: none;" class="a-text ml-4 mt-2 text-small" href="{% url 'index' %}">Indexing Home <span class="text-dark"> |</span></a>
            <a style="text-decoration: none;" class="a-text ml-1 mt-2 text-small" href="https://portal.rrbn.gov.ng/">RRBN Website</a>
          </div>

          <p><a class="text-muted" href="{% url 'accounts:password-reset' %}"> </a></p>
          


          <p><a href="{% url 'accounts:password-reset' %}" class="text-success">Forgot password?</a></p>

          <p class="text-muted mt-2 text-center"> &copy All rights reserved RRBN Indexing Portal 2023</p>
        </form>
          
        </div>
        
      </div>
    
    </div>
    </main>

  <script src="{% static 'bootstrap/js/jquery-3.3.1.slim.min.js' %}"></script>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


  <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
          'use strict';
          window.addEventListener('load', function () {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function (form) {
                  form.addEventListener('submit', function (event) {
                      if (form.checkValidity() === false) {
                          event.preventDefault();
                          event.stopPropagation();
                      }
                      form.classList.add('was-validated');
                  }, false);
              });
          }, false);
      })();
  </script>
    </body>
  </html>