{% extends 'institutions/dashboard_base2.html'%}

{% block title %}Institution | {{ block.super }}{% endblock title %}


{% block content %}
<div class="row mx-2">
<div class="col-md-12 mt-4 mx-1">
<div class="row">
<div class="col-md-12">
    <div class="card">   
        <div class="card-body">
            <h4 class="mt-0 header-title text-primary">Indexed Students List</h4>
            <p class="text-muted  font-14">Please select Academic Session to view Indexed Students List for selected Academic Session.
            </p>
            <select class="custom-select mb-4 col-md-3" 
            name="academic_session" 
            hx-get="{% url 'institutions:indexed_list' %}"
            hx-trigger="change"
            hx-target="#indexing_list">

                <option selected>Select Academic Session</option>
                {% for academic_session in academic_sessions %}
                    <option value="{{academic_session.pk}}"> {{academic_session.name}}</option>
                {% endfor %}
            </select>

            <div id="indexing_list">
                {% include 'partials/indexed_students_list.html' %}
            </div>
        </div>
    </div>
</div> <!-- end col -->
</div> <!-- end row -->
</div>
</div>
{% endblock content %}
