{% extends 'institutions/dashboard_base1.html'%}

{% block title %}Institution | {{ block.super }}{% endblock title %}


{% block content %}

<div class="row mx-2">
<div class="col-md-12 mt-4 mx-1">
<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <h4 class="mt-0 header-title">Students Indexing</h4>
            <p class="text-muted  font-14">Students Indexing Number Issued List for 2022/2023 Academic Session.
            </p>

            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Institution</th>
                    <th>Academic Session</th>
                    <th>Matric Number</th>
                    <th>Indexing Number</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for object in students %}
                <tr>
                    <td>{{object.institution}}</td>
                    <td>{{object.student_profile.student.last_name}} {{object.student_profile.student.first_name}}</td>
                    <td>{{object.academic_session}}</td>
                    <td>{{object.matric_no}}</td>
                    <td>{{object.index_number}}</td>
                    <td><a href="{{ object.get_institution_absolute_url }}"><span class="badge badge-boxed  badge-primary">View Students Details </span> <i class="fas fa-list-ol text-primary"></i></a></td> 
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- end col -->
</div> <!-- end row -->
</div>
</div>
{% endblock content %}